@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-color: #ffffff;
  --text-color: #ffffff;
  --dark-text: #141414;
  --bg-color: #9292921a;
  --toggle-color: #FF3D00;
  --dark-color: rgb(58, 58, 58);
  --box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);


  --hover-cursor: url('/cursor/ditto-hover.gif'), auto;
  --text-cursor: url('/cursor/ditto-text.gif'), auto;
  --normal-cursor: url('/cursor/ditto-normal.gif'), auto;
  --help-cursor: url('/cursor/ditto-help.gif'), auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
  cursor: var(--normal-cursor);
}