.main {
  padding: 0 2rem;
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 50px;
  font-weight: bold;
  font-size: 36px;
}

.more {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  bottom: 0;
}